/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Finance-Robinhood-*

*.csv

eg/automated.pl
eg/Untitled*.pl
eg/stock_tracker.pl
eg/trailing_stop.*


SciTE.session

/lib/Finance/Robinhood/old/
/t/old/
.vscode/
.vstags
eg/devel.pl
eg/old/

*.tmp

eg/

old-*/

/.tidyall.d/
git/
